[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-bind"]
	path = bundle/vim-bind
	url = https://github.com/Absolight/vim-bind.git
[submodule "bundle/vim-nginx"]
	path = bundle/vim-nginx
	url = https://github.com/fbernier/nginx-vim-syntax.git
[submodule "bundle/tabbar"]
	path = bundle/tabbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/asyncrun"]
	path = bundle/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "bundle/Jenkinsfile"]
	path = bundle/Jenkinsfile
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
